/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/mai/2017, 15:53:54
    Author     : G04
*/

/*---------------------------------GENERAL---------------------------------*/
body{
    /*font-family: 'Segoe UI',Arial,sans-serif;*/
    font-family: Roboto;
    font-size: 14px;
    margin: 30px 50px;
}

@media screen and (max-width:800px) {
    body{
        margin: 30px 10px;
    }
}
h1#main-title{
    margin:0px 0px 10px 0px;
    padding:20px 12px;
    background-color: rgba(84,144,242,1); /*blue*/
    border-radius: 0px 0px 6px 6px;
    color:white;
}
@font-face{
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

.noselect{
    -webkit-user-select: none; /* Chrome, Opera, Safari */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

.input_erro{
    border:2px solid red;	
}

.span_erro{
    display: block;
    color:red;
    margin-top: -10px;
    font-size: 12px;
}

/*---------------------------------HEADER---------------------------------*/

header > img{
    max-height: 80px;
    max-width: 400px;
    height: auto;
    width: 100%;
    margin-bottom: 20px;
}
header > nav ul{
    list-style-type: none;
    margin: 0;
    padding:0;
    background-color: grey;
    /*display: flex;*/
}

header > nav li{
    background:rgba(0,0,0, 0.2);
}
header > nav > ul > li{
    display: inline-block;
    position: relative;
}

header > nav a {
    display: block;
    color: white;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 16px;
}

button {
    background: none;
    color: white;
    padding: 10px 16px;
    margin: 0;
    display: block;
    width: 100%;
    border: none;
    font-size: 16px;
    /*cursor: pointer;*/

}
header > nav li:hover{
    background: rgba(0,0,0, 0.5);
}
#nav_right{
    float:right;
}
/*-----SUB-MENU-----*/
.drop:hover ul {
    display: block;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.5);
}
header > nav > ul ul {
    position: absolute;
    display: none;
    width: 100%;
    z-index: 99;
}

@media screen and (max-width:800px) {
    header > nav > ul > li{
        display: block;
    }
    header > nav li{
        margin-top: 1px;
    }
    #nav_right{
        float:none;
    }
    .drop:hover ul {
        display: block;
        /*box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.5);*/
    }
    header > nav > ul li{ /*todas as li's'*/
        text-align: center;
    }
}

/*---------------------------------FOOTER---------------------------------*/
footer img{
    height: 50px;
    width: 50px;
    vertical-align: middle;
}
footer > p{
    display:inline-block;
    margin-bottom: 0px;
}
footer{
    text-align: center;
}

/*---------------------------------FORMS---------------------------------*/

form input, form select, form textarea{
    padding: 5px;
    box-sizing: border-box;
}
form p{
    display: flex;
}

form input[type=submit]{
    background-color: rgb(84,144,242);
}
form input[type=reset]{
    background-color: grey;
}
form input[type=submit], form input[type=reset]{
    color:white;
    border: none;
    font-size: 16px;
}
form input[type=submit]:hover, form input[type=reset]:hover{
    opacity: 0.8;
}

form label:not(.visibility), form#import legend{
    font-size: 16px;
    font-weight: bold;
}
textarea{
    padding: 0px;
}
fieldset{
    margin:0;
    border-color: lightgrey;
}

#postError #left, #postError #right{
    display: inline-block;
}
#postError #right{
    float:right;
    margin-bottom: 14px;
}


/*-----------------------------AUTHENTICATION-----------------------------*/

.auth-form input{
    font-size: 16px;
    display: block;
    margin: 14px 0px;
}
.auth-form{
    display: inline-block;
    vertical-align: middle;
}

main#auth{
    max-width: 550px;
    display: block;
    margin: 20px auto 20px auto;
}
main#auth > hr{
    display: inline-block;
    border: 1px solid lightgrey;
    height: 475px;
}
form#registar{
    padding-left: 5px;
    border-left: 2px solid lightgrey;
}

form#login{   
    padding-right: 3px;
}

form#login input, form#login select, form#login textarea{
    width: 200px;
}
form#change-profile span, form#registar span{
    margin: 0px 2px;
}
form#registar input, form#change-profile input{
    width: 300px;
}
form input#Cp1R ,form input#Cp2R{
    min-width: 83.5px;
    width: 146px;
    display: inline-block;
}

form#login #remember{
    display: inline-block;
    width: auto;
    margin:0px 5px;

}
form#login #remember + label{
    font-weight: normal;
    font-size: 14px;
}

div#passCont{
    position:relative;
}
#pwdLogin,#pwd1, #pwd2{
    position: absolute;
    right: 4px;
    top: 6px;
    width: 20px;
}
/*-----------------------------CHANGE-PROFILE-----------------------------*/
form#change-profile input[type=submit]{
    margin-right: 4px;
}
form#change-profile input[type=submit], form#change-profile input[type=reset]{
    max-width: 148px;
    min-width: 85px;
}
form#change-profile{
    margin:0px 10px;
}
/*--------------------------------DOCUMENT--------------------------------*/


form#document input:not([type=radio]):not([type=checkbox]), form#document select, form#document textarea{
    width: 600px;
}
form#document{
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
form#document input[type=radio]{
    display: none;
}
form#document .visibility{
    background-color: rgba(240,182,56,0.6);
    padding: 5px 15px;
    margin: 0px 2px;
    width: 200px;
    text-align: center;
    cursor: pointer;
}
.visibility:hover{
    opacity: 0.8;
}

form#document input[type=radio]:checked + .visibility {
    background-color: rgb(240,182,56);
}

form#document > div#sharedBox input[type=button]{
    background-color: lightgrey;
    border:none;
    width: 30px;
    cursor: pointer;
}
form#document > div#sharedBox input[type=button]:hover{
    opacity: 0.8;
}
form#document > div#sharedBox input[type=button]:focus{
    outline: none; /*remover focus*/
}


form#document > div#sharedBox input#addUser{
    width: 400px;
    border:none;
}

form#document > div#sharedBox input#addUser:focus{
    outline: none;
}

form#document > div#sharedBox p.results{
    background-color: lightgrey;
    max-width: 395px;
    padding: 0px 5px 0px 0px;
}
form#document > div#sharedBox .commentBox{
    margin: auto 0px auto auto;
}

form#document > div#sharedBox span, .commentLabel{
    margin: auto 0px auto 5px;

}
form#document > div#sharedBox .commentLabel{
    font-size: 12px;
    font-weight: normal;
}

form#document > div#sharedBox input.removeButton{
    background-color: rgb(210,68,58);
}

form#document div#sharedBox, form#document div#publicBox{
    background-color: rgb(240,182,56);
    padding: 10px;
    margin: -20px 2px 14px 2px;
    max-width: 600px;
    min-width: 236px;
    display: none;                                     
}
form#document div#publicBox .commentLabel{
    font-size: 14px;
    /*font-weight: normal;*/
}

form#document > div#publicBox .commentBox{
    margin-left: 20px;

}

div#searchBar{
    display:flex;
    position:relative;
    margin: 14px 0px;
}

div#searchBar ul{
    position: absolute;
    list-style-type: none;
    padding: 0;
    top: 10px;
    width: 100%;
    max-width: 400px;
    display: none;

    border-bottom: 1px solid;
    border-color: grey;

}

div#searchBar ul li{
    background-color: white; 
    padding: 5px;
    cursor: pointer;
}

div#searchBar ul li:hover{
    background-color: lightgray; 
}


/*-------------------------------------PERFIL*/

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 60px auto;
    text-align: center;
}

.card a:hover{
    opacity: 0.8;
}

.card a{
    text-decoration:none;
    color:white;
    display: inline-block;
    background-color: rgb(84,144,242);
    text-align: center;
    width: 100%;
    font-size: 18px;
    padding: 8px 0px;
}


/*------------------------------VIEW-DOCUMENT------------------------------*/

main#view-doc{
    max-width: 700px; /*para IE/EDGE*/
    margin-left: auto;
    margin-right: auto; 
    display: flex;
    flex-flow: column;
}

main#view-doc > p#doc  {
    max-width: 600px;
    margin: 10px;
    white-space: pre-line; 
    text-align: justify; 
    text-justify: inter-word;
    line-height: 1.5;
    padding:40px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);

}
main#view-doc > div#top h3{
    margin: 10px 0px 0px 0px;
}
main#view-doc > div#top{
    max-width: 680px;
    margin:10px;
}
main#view-doc div#details{
    font-size: 16px;
    background-color: grey;
    color:white;
}
main#view-doc div#details > span{
    display: inline-block;
}

main#view-doc div#details > span:first-child{
    padding: 10px 0px;
    margin-left: 10px;
    cursor: default;
}

main#view-doc div#details > span:last-child{
    background-color: rgb(240,182,56);
    padding: 10px 0px;
    float: right;
    width: 40px;
    text-align: center;
    cursor: pointer; 
}

main#view-doc div#details > span:last-child:hover{
    opacity: 0.8;
}

main#view-doc div#content{
    border: 1px solid gray;
    /*box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);*/
    padding:5px 40px;
    display: none;
}
/* Validar users*/

.article{
    display: inline-block;
}

#image{
    width: 100px;
    height: 100px;
}

.classe{
    list-style-type: none;
}
