/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/mai/2017, 15:53:54
    Author     : G04
*/
body{
    /*font-family: 'Segoe UI',Arial,sans-serif;*/
    font-family: Roboto;
    font-size: 14px;
    margin-left: 50px;
    margin-right: 50px;
}

/*---------------------------------HEADER*/

header > img{
    margin-top: 20px;
    height: 80px;
    margin-bottom: 20px;
}
nav  ul{
    list-style-type: none;
    margin: 0;
    padding:0;
    background-color: grey;
}

nav li{
    background:rgba(0,0,0, 0.2);
}
nav> ul > li{
    display: inline-block;
}

nav> ul > li a {
    display: inline-block;
    color: white;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 16px;

}

/*sub menu*/
nav > ul ul {
    position: absolute;
    display: none;
    list-style-type:none;
    padding: 0;
}
.drop:hover  ul {
    display: block;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
}

nav> ul li:hover{
    background: rgba(0,0,0, 0.5);
}
#nav_login{
    float:right;
}
/*--------------------------------FOOTER*/
footer >p > img{
    max-height: 50px;
    max-width: 50px;
    vertical-align: middle;
}
footer > p{
    display:inline-block;
}
footer{
    text-align: center;
}

/*------------------------AUTHENTICATION*/

form input:not([type=submit]){
    padding: 3px 0px;
}

form{
    display: inline-block;
    vertical-align: top;
    /*width: fit-content;*/
}
form#login, form#registar{
    margin: 0px 10px;
}
form > p{
    margin-top: 10px;
    display: flex;
}

form input{
    font-size: 16px;
}
form#login{   
    text-align: right;
    margin-top: 120px;
}
main#auth{
    width: max-content;
    margin: 20px auto 20px auto;
}
main#auth > hr{
    display: inline-block;
    border: 1px solid lightgrey;
    height: 475px;
}

form input[type=submit], form input[type=reset]{
    background-color: rgb(84,144,242);
    border: none;
    width: 100%;
    padding:5px;
    color:white;
}
form input[type=reset]{
    background-color: grey;
}
form input[type=submit]:hover, form input[type=reset]:hover{
    opacity: 0.8;
}
form#change-profile input[type=submit], form#change-profile input[type=reset]{
    width: 49%;
    display: inline;
}
form#change-profile{
    margin-left: 20px;
}
form input#Cp1R ,form input#Cp2R{
    width: 96px;
}

@font-face{
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}
h1#main-title{
    margin: 0px;
    margin-bottom: 10px;
    padding:20px 0px;
    padding-left: 20px;
    background-color: rgba(84,144,242,1);
    border-radius: 0px 0px 6px 6px;

    color:white;
}
/*------------------------IMPORT*/

form#import{
    /*border: 1px solid violet;*/
    width: auto;
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

form#import input:not([type=radio]), form#import textarea, form#import select {
    display: block;
    margin-bottom: 10px;
    margin-top: 2px;
    width: 100%;
    font-size: 14px;
}

form#import fieldset{
    margin-bottom: 10px;
    margin-top: 2px; 
}
form#import label:not(.notalabel), form#import legend{
    font-size: 16px;
    font-weight: bold;

}


/*-------------------------------------PERFIL*/

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 60px auto;
    text-align: center;
}

.card a:hover{
    opacity: 0.7;
}

.card a{
    text-decoration:none;
    color:white;
    display: inline-block;
    background-color: rgb(84,144,242);
    text-align: center;
    width: 100%;
    font-size: 18px;
    padding: 8px 0px;
}