/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/mai/2017, 15:53:54
    Author     : G04
*/

/*---------------------------------GENERAL---------------------------------*/
body{
    /*font-family: 'Segoe UI',Arial,sans-serif;*/
    font-family: Roboto;
    font-size: 14px;
    margin: 30px 50px;
}
h1#main-title{
    margin:0px 0px 10px 0px;
    padding:20px 12px;
    background-color: rgba(84,144,242,1); /*blue*/
    border-radius: 0px 0px 6px 6px;
    color:white;
}
@font-face{
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}


/*-----FORMS-----*/
form{
    display: inline-block;
    vertical-align: top;
}
form label:not(.notalabel), form#import legend{
    font-size: 16px;
    font-weight: bold;
}
textarea{
    padding: 0px;
}
fieldset{
    margin:0;
    border-color: lightgrey;
}

/*---------------------------------HEADER---------------------------------*/
header > img{
    max-height: 80px;
    max-width: 400px;
    height: auto;
    width: 100%;
    margin-bottom: 20px;
}
header > nav ul{
    list-style-type: none;
    margin: 0;
    padding:0;
    background-color: grey;
}

header > nav li{
    background:rgba(0,0,0, 0.2);
}
header > nav > ul > li{
    display: inline-block;
}
header > nav a {
    display: inline-block;
    color: white;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 16px;
}
/*-----SUB-MENU-----*/
header > nav > ul ul {
    position: absolute;
    display: none;
}
.drop:hover ul {
    display: block;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
}

header > nav li:hover{
    background: rgba(0,0,0, 0.5);
}
#nav_right{
    float:right;
}
/*---------------------------------FOOTER---------------------------------*/
footer img{
    height: 50px;
    width: 50px;
    vertical-align: middle;
}
footer > p{
    display:inline-block;
    margin-bottom: 0px;
}
footer{
    text-align: center;
}
/*-----------------------------AUTHENTICATION-----------------------------*/
main#auth{
    width: fit-content;
    margin: 20px auto 20px auto;
    display: flex;
}
main#auth > hr{
    display: inline-block;
    border: 1px solid lightgrey;
    height: 475px;
}
form input:not([type=submit]), form select{
    padding: 3px 0px;
}
.auth-form{
    margin: 0px 10px;
    font-size: 16px;
}

form input{
    margin-top: 10px;
    display: block;
   
    font-size: 16px;
}

form#registar input{
    max-width: 300px;
    min-width: 200px;
    width: 100%;
}

form#registar label{
    margin-top: 10px;
    display: block;
}

form#login{   
    text-align: right;
    margin-top: 120px;
}


form input[type=submit], form input[type=reset]{
    background-color: rgb(84,144,242);
    border: none;
    width: 100%;
    padding:5px;
    color:white;
    font-size: 16px;
}
form input[type=reset]{
    background-color: grey;
}
form input[type=submit]:hover, form input[type=reset]:hover{
    opacity: 0.8;
}
form#change-profile input[type=submit], form#change-profile input[type=reset]{
    max-width: 49%;
    display: inline-block;
}
form#change-profile{
    margin-left: 20px;
    max-width: 250px;
}
form#change-profile input{
    width: 100%;
}
form input#Cp1R ,form input#Cp2R{
    max-width: 85px;
    width: auto;
    display: inline-block;
}


/*------------------------IMPORT*/

form#import{
    /*border: 1px solid violet;*/
    width: auto;
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

form#import input:not([type=radio]):not([type=submit]), form#import textarea, form#import select {
    display: block;
    margin-bottom: 10px;
    margin-top: 2px;
    width: 100%;
    font-size: 14px;

}


form#import fieldset{
    margin-bottom: 10px;
    margin-top: 2px; 
}



/*-------------------------------------PERFIL*/

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 60px auto;
    text-align: center;
}

.card a:hover{
    opacity: 0.7;
}

.card a{
    text-decoration:none;
    color:white;
    display: inline-block;
    background-color: rgb(84,144,242);
    text-align: center;
    width: 100%;
    font-size: 18px;
    padding: 8px 0px;
}